
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff;
  }
  

  .header {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  

  .sidebarimg {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  

  .icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 120px;
  }
  

  .headerbtn {
 
    position: absolute;
    top: 30px;
    right: 80px;
    display: flex;
    gap: 40px;
  }
  
  .signup {
    margin-top:14px;
    width: 60px;
    cursor: pointer;
  }
  
  .loginbtn {
    width: 80px;
    cursor: pointer;
  }
  
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-right: 20%;
}

.formheader {
    margin-top: 120px;
    font-size: larger;
    font-weight: 700;
    color: #3B3C51;
    text-align: left;
    padding-left: 10%;
    position: absolute;
    margin-left: 42%;
}

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    width: 200%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #3B3C51;
    border-radius: 5px;
    font-size: 16px;

   
  }
  
  input::placeholder {
    color: #b3b3b3;
  }
  

  .registerBtn {
    width: 200%;
    padding: 15px;
    background-color: #0056ff; 
    color: #ffffff; 
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

.registerBtn:focus {
    outline: none; 
    box-shadow: 0 0 5px #0056ff; 
}



  .error {
    font-size: 12px;
    color: red;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  

  .text {
   padding-left: 35%;
    font-size: 14px;
    margin-top: 20px; 
    color: #3B3C51;

  }
  
  .link {
    color: #1B48DA;

    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .errorBorder {
    border-color: red !important;
  }

  @media screen and (max-width: 768px) {
   
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    
    .sidebarimg,
    .icon,
    .headerbtn {
        display: none;
    }

    
    .form {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    .formheader {
        margin-bottom:80%;
        text-align: center;
        font-size: 1.5rem; 
        color: #3B3C51;
        margin-left:-100px;
    }

    
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    .registerBtn {
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
    }


   
    .text {
        padding-left: 0;
        text-align: center;
        margin-top: 10px;
        font-size: 0.9rem;
    }
}
